body{
          margin: 0;
          padding: 0;
          min-height: 100vh;
          position: relative;
          
}
body::before{
          content: "";
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;


          background-image: url(imagens1/vou\ precisar\ de\ uma\ imagem\ de\ fundo\ do\ site\,\ o\ tema\ é\ padrões\ ou\ simbolos\ estilo\ japonês\ tradiconal\ para\ ficar\ de\ fundo\ do\ site.jpg);
          background-size: cover;
          background-attachment: fixed;
          background-position: center;

          filter: blur(2.8px);
          filter: opacity(1px);

          z-index: -1;
          transform: scale(1.1);

          
          

}